@import "../../../assets/styles/variable.scss";
.login {
  padding: 20px;
  width: 500px;
  margin: 0 2.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: #707070;
  border-radius: 20px;
  margin-top: 190px;
  .logo {
    margin: 0 auto;
  }
  .heading {
    padding-bottom: 25px;
    h1 {
      text-align: left;
      font-size: 35px;
      font-weight: bold;
    }
  }
  .form-group {
    padding-bottom: 20px;
    input {
      border-radius: 10px;
      padding-left: 13px;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
    :focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .has-float-label {
    label {
      left: 20px;
      top: -9px;
      z-index: 1;
      color: $baseColor;
      margin-bottom: unset;
      &::after {
        content: " ";
        display: block;
        position: absolute;
        background-color: #f8f8f8;
        height: 4px;
        top: 50%;
        left: -0.25em;
        right: -0.25em;
        z-index: -1;
      }
    }

    .form-control {
      border-radius: 10px;
      padding-left: 13px;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
    select {
      background: inherit;
      background-color: #fff;
      padding-right: 0.75rem;
      -webkit-appearance: menulist;
      -moz-appearance: menulist;
      appearance: menulist;
    }
    input:-webkit-autofill {
      + label {
        border: unset;
      }
    }
    .form-control:placeholder-shown:not(:focus) + * {
      font-size: 14px;
      top: 0.8em;
      color: black;
      &::after {
        background-color: transparent;
      }
    }
  }
  .forgot-password {
    text-align: right;
    text-decoration: underline;
    color: $baseColor;
  }
  .buttons {
    margin: 20px 0px;
    .signin-bButton {
      background: $buttonColor;
      height: 50px;
      color: $buttonTextColor;
      width: 100%;
      border-radius: 10px;
      border: none;
      :focus {
        border: none;
      }
    }
  }
}
