<section class="login">
  <div class="mx-auto">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="270"
      height="61.048"
      viewBox="0 0 270 61.048"
    >
      <defs>
        <linearGradient
          id="linear-gradient"
          x1="-0.253"
          y1="2.091"
          x2="-0.175"
          y2="1.843"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0" stop-color="#29d3da" />
          <stop offset="0.519" stop-color="#07f" />
          <stop offset="0.999" stop-color="#064093" />
          <stop offset="1" stop-color="#084698" />
        </linearGradient>
        <linearGradient
          id="linear-gradient-2"
          x1="-0.612"
          y1="1.76"
          x2="-0.549"
          y2="1.557"
          gradientUnits="objectBoundingBox"
        >
          <stop offset="0.012" stop-color="#e0b386" />
          <stop offset="0.519" stop-color="#da498c" />
          <stop offset="1" stop-color="#961484" />
        </linearGradient>
        <linearGradient
          id="linear-gradient-3"
          x1="-0.842"
          y1="1.209"
          x2="-0.942"
          y2="1.308"
          xlink:href="#linear-gradient"
        />
      </defs>
      <g id="Group_2" data-name="Group 2" transform="translate(-148 -341.452)">
        <text
          id="Our_Logo"
          data-name="Our Logo"
          transform="translate(213 388)"
          fill="#961484"
          font-size="40"
          font-family="SegoeUI-Bold, Segoe UI"
          font-weight="700"
        >
          <tspan x="0" y="0">OUR LOGO</tspan>
        </text>
        <g id="logo" transform="translate(122.313 341.452)">
          <path
            id="Path_1"
            data-name="Path 1"
            d="M25.687,36.834,39.329,0H56.153L42.51,36.834Z"
            fill="url(#linear-gradient)"
          />
          <path
            id="Path_2"
            data-name="Path 2"
            d="M123.337,134.507l13.645-36.833h16.826l-13.645,36.833Z"
            transform="translate(-85.545 -85.566)"
            fill="url(#linear-gradient-2)"
          />
          <path
            id="Path_3"
            data-name="Path 3"
            d="M221.026,232.181l13.643-36.833h16.823L237.85,232.181Z"
            transform="translate(-171.125 -171.133)"
            fill="url(#linear-gradient-3)"
          />
        </g>
      </g>
    </svg>
  </div>

  <div class="heading">
    <h1>Sign In</h1>
  </div>

  <div class="col-12">
    <form [formGroup]="loginFormControl">
      <div class="form-group has-float-label">
        <input
          type="text"
          id="username1"
          noWhiteSpace
          formControlName="Username"
          class="form-control"
          placeholder="UserName"
        />
        <label for="username">UserName</label>
        <!-- <p *ngIf="loginForm.controls['Username'].errors" class="errorMessage">
        <small *ngIf="loginForm.controls['Username'].hasError('required') && (loginForm.controls.Username.dirty || loginForm.controls.Username.touched)">This field is required</small>
      </p> -->
      </div>

      <div class="form-group has-float-label">
        <input
          type="password"
          id="password1"
          formControlName="Password"
          class="form-control"
          placeholder="******"
        />
        <label for="username">Password</label>
        <!-- <p *ngIf="loginForm.controls['Username'].errors" class="errorMessage">
        <small *ngIf="loginForm.controls['Username'].hasError('required') && (loginForm.controls.Username.dirty || loginForm.controls.Username.touched)">This field is required</small>
      </p> -->
      </div>


      <div class="col-md-12 buttons">
        <button class="signin-bButton" (click)='Login();'>
          Sign in
        </button>
      </div>
    </form>
  </div>
</section>
