@import '../../assets/styles/variable.scss';
.authentication {
  height: 100vh;
  &.bg-info{
    background-color: #ccc !important;
  }
  .content {
    // margin-top: 5rem;
    // padding-top: 50px;

    .login {
      padding-top: 250px;
      text-align: right;
    }
    .resetPassword {
      @extend .login;
    }
  }
  .right-content{
    background: white;
    padding-top: 275px;
    padding-left: 80px;
    .heading{
      color: $baseColor;
    }
    .text-area{
      color: $baseColor;
      padding-right: 55px;
      p{
        font-size: 15px;
      }
    }
  }
}
