<section class="PageContent mx-2 px-5">
  <div class="col-md-12">
    <div class="heading">
      <h1>
        Create Project
      </h1>
    </div>
  </div>
  <form [formGroup]="studentCreateForm">
    <div class="col-md-12 form-controls-element">
      <div class="row">
        <div class="col-md-4 form-group has-float-label">
          <input
            type="text"
            id="Name"
            noWhiteSpace
            formControlName="studentCode"
            class="form-control"
            placeholder="Project Name"
          />
          <label for="Name">Student Code</label>
        </div>

        <div class="col-md-4 form-group has-float-label">
          <select
            name="department"
            formControlName="department"
            class="form-control"
            id="department"
          >
            <option *ngFor="let dList of departmentList" [value]="dList.Name"> {{dList.Name}} </option>
          </select>
          <label for="department">Department</label>
        </div>




      </div>
    </div>
    <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
      <button class="btn btn-primary mr-3" type="button" [routerLink]="'/user/userList'"  >back</button>
      <button class="btn btn-primary mr-3" type="button" [disabled]="!studentCreateForm.valid" (click)="Save()"  >Create</button>
  </div>
  </form>
</section>
