<section class="PageContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-light " style="text-align: right;">
        <button type="button" [routerLink]="'/user/create'" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="grid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col"> Contact person</th>
            <th scope="col"> Contact </th>
            <th scope="col"> Status </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of studentList">
            <td>{{ item._id }}</td>
            <td>{{ item.studentCode }}</td>
            <td>{{ item.department }}</td>
            <td>{{ item.ContactNumber }}</td>
            <td>{{ item.Status }}</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <!-- <img class="btn" id="dropdownBasic1" ngbDropdownToggle -->
                <!-- src="../../../../assets/img/down-arrow.png" alt="" />  -->
                <span id="dropdownBasic1" ngbDropdownToggle>Actions</span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <p ngbDropdownItem (click)="open(item._id)" class="drop">
                    View
                  </p>
                  <p ngbDropdownItem (click)="delete(item._id)" class="drop">
                    Delete
                  </p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
