@import "./assets/styles/variable.scss";
html {
  margin: 0;
  padding: 0;
  body {
    @extend html;
    overflow: hidden;
    app-user,
    app-auth {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      height: 100vh;
      min-height: 100vh;
    }
    .modal-header {
      border: none !important;
      .modal-title {
        font-size: 20px;
        color: $baseColor;
      }
      button {
        background: none;
        border: none;
        font-size: 25px;
      }
    }
    .modal-body {
      padding: 25px;
      .grid-popup{
        width: 100%;
        @extend .grid-design;
        .form-group {
          height:40px ;
          width: 50%;
          .form-control{
            width: 120px;
          }
        }
      }
      .form-group {
        height: 50px;
        margin-bottom: 13px;
        padding-right: 25px;
        &.password {
          position: relative;
          .form-control {
            padding-right: 55px;
            border-radius: 10px;
            height: 45px;
          }
          span {
            position: absolute;
            right: 39px;
            left: auto;
            font-size: inherit;
            cursor: pointer;
            top: 15px;
            display: flex;

            img {
              width: 20px;
            }
          }
          .form-control[type="text"] + label + span {
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &::after {
              content: "";
              width: 2px;
              height: 20.5px;
              background: #d5d4d4;
              position: inherit;
              transform: rotate(45deg);
              right: 7px;
              top: 12.5px;
            }
          }
          .infoIcon {
            right: 10px;
            bottom: 0;
            top: 0;
            margin: auto;
            position: absolute;
          }
        }
        .form-control {
          border-radius: 10px;
          height: 45px;
          :focus {
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
    .modal-footer {
      .btn-primary {
        background: #1e293b;
        margin-left: 20px;
        border-radius: 10px;
        color: #e4e4e4;
        height: 40px;
        min-width: 125px;
        text-align: center;
        font-size: 13px;
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    .PageContent {
      padding-bottom: 20px;
      .heading {
        border-bottom: 1px solid $baseColor;
        padding: 8px 0px;
        h1 {
          color: $baseColor;
          font-size: 25px;
          font-weight: bolder;
          padding-top: 5px;
        }
        button {
          float: right;
        }
      }
      .subHeading {
        h2 {
          color: $baseColor;
          font-size: 20px;
          font-weight: bolder;
          padding-top: 5px;
        }
      }
      .form-controls-element {
        margin-top: 30px;
        .form-group {
          padding-bottom: 20px;
          input {
            border-radius: 10px;
            padding-left: 13px;
            border: 2px solid rgba(0, 0, 0, 0.1);
          }
          :focus {
            -webkit-box-shadow: none;
            box-shadow: none;
          }
          &.password {
            position: relative;
            .form-control {
              padding-right: 55px;
              border-radius: 12px;
              padding-bottom: 10px;
              // height: 45px;
            }
            span {
              position: absolute;
              right: 39px;
              left: auto;
              font-size: inherit;
              cursor: pointer;
              top: 15px;
              display: flex;

              img {
                width: 20px;
              }
            }
            .form-control[type="text"] + label + span {
              &:focus {
                outline: none;
                box-shadow: none;
              }
              &::after {
                content: "";
                width: 2px;
                height: 20.5px;
                background: #d5d4d4;
                position: inherit;
                transform: rotate(45deg);
                right: 7px;
                top: 12.5px;
              }
            }
            .infoIcon {
              right: 10px;
              bottom: 0;
              top: 0;
              margin: auto;
              position: absolute;
            }
          }
        }
        .has-float-label {
          label {
            left: 32px;
            top: -12px;
            z-index: 1;
            color: $baseColor;
            margin-bottom: unset;
            line-height: 2;
            &::after {
              content: " ";
              display: block;
              position: absolute;
              background-color: #f8f8f8;
              height: 4px;
              top: 50%;
              left: -0.5em;
              right: -0.5em;
              z-index: -1;
            }
          }

          .form-control {
            border-radius: 10px;
            padding-left: 13px;
            padding-bottom: 10px;
            border: 2px solid rgba(0, 0, 0, 0.1);
          }
          select {
            background: inherit;
            background-color: #fff;
            padding-right: 0.75rem;
            -webkit-appearance: menulist;
            -moz-appearance: menulist;
            appearance: menulist;
          }
          input:-webkit-autofill {
            + label {
              border: unset;
            }
          }
          .form-control:placeholder-shown:not(:focus) + * {
            font-size: 13px;
            top: 0.8em;
            color: black;
            &::after {
              background-color: transparent;
            }
          }
        }
      }
      .btn-primary {
        background: #1e293b;
        margin-left: 20px;
        border-radius: 10px;
        color: #e4e4e4;
        height: 40px;
        min-width: 125px;
        text-align: center;
        font-size: 13px;
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      .grid {
        @extend .grid-design;
      }
      .gridWithScroll {
        @extend .grid;

        &.g500{
          height:500px !important;
          overflow-y: auto;
        }
        &.g450{
          height:450px !important;
          overflow-y: auto;
        }
        &.g400{
          height:400px !important;
          overflow-y: auto;
        }
      }
      .dashboardContent{
        margin-top: 1rem;
        .cardPanel{
          height: 170px;
          border: 1.5px solid #707070;
          margin-bottom: 1.5rem;
          padding: 15px 20px 20px 25px;
          border-radius: 8px;
          b{
            font-size: 25px;
          }
        }
      }
    }
    .grid-design{
      .table {
        color: $baseColor;
        tr {
          height: 50px;
          line-height: 2.5;
          font-size: 12px;
          td {
            img {
              width: 45px;
              &.cross {
                width: 35px;
              }
            }
            p {
              margin-bottom: 0px;
            }

            .drop {
              padding: 4px ​15p;
              margin-bottom: 0px;
              text-align: left;
              font-size: 13px;
            }
            .dropdown-menu {
              padding: 0px !important;
            }
          }
        }
      }
    }
    .table-pagination {
      bottom: 0px;
      left: 18%;
      position: fixed;
      background: white;
      width: 84%;
      height: 60px;
      padding: 14px;
      margin: 10px 15px 0px -26px;
      text-align: left;
      color: black;
      border-top: 1px solid #ccc;
      display: flex;
      p {
        margin-bottom: 0px;
      }
      select {
        height: 30px;
        margin: 0 10px;
        border-radius: 7px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
    .light-blue-backdrop {
      -webkit-filter: blur(5px) grayscale(90%);
      filter: blur(5px) grayscale(90%);
    }
  }
  #navbarResponsive::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: inherit;
}

#navbarResponsive::-webkit-scrollbar
{
	background-color: inherit;
	width: 5px;
}

#navbarResponsive::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3); */
	background-color: $baseColor;
}
#nav-scrollbar::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: #bcbcbc;
}

#nav-scrollbar::-webkit-scrollbar
{
	background-color: #bcbcbc;
	width: 5px;
}

#nav-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: $baseColor;
}


  .modal-header {
    .modal-title {
      font-size: 20px;
      color: $baseColor;
      button {
        background: none;
        border: none;
      }
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
