$baseColor : #707070;
$buttonColor : #961484;
$buttonTextColor : #ffffff;
$backgroundColor : #1E293B;
$headerTextColor : #BBBDC2;
$navigationElement : #BBBDC2;
$navigationElementHover : #BBBDC2;
$navigationElementHoverBackground : rgba(187, 189, 194, 0.1);
$navigationElementSelected : #BBBDC2;
$navigationElementSelectedBackground : rgba(187, 189, 194, 0.3);
$buttonColor : #1E293B;
$buttonTextColor : #E4E4E4;
$dashboardColor : #707070

